body {
    background-color: #adff2f;
    font-family: Calibri, sans-serif;
}

article {
    border-radius: 5px;
    border: 1px solid #e8a06b;
    margin: 7px;
}

form, form div {
    margin: 5px;
}

h3, .formHeading {
    color: #df6104;
    font-weight: bold;
}

h3, article, p {
    margin: 7px;
}

body, header {
    margin: 0;
    padding: 0;
}

#sideBar {
    width: 62%;
}

#sideForms {
    width: 30%;
}

#sideBar, #loginForm, #createPostForm {
    border-radius: 5px;
    border: 2px solid #006400;
    background: #ffffff;
    margin: 5px;
}

#searchResult {
    background: #f0f0f0;
}

#headerPic {
    width: 100%;
}

#sideBar, #sideForms {
    display: block;
    float: left;
}

#tagsInputs {
    margin: 5px;
}

#tags {
    margin: 0;
}

.hidden {
    display: none;
}

#postTitle, #postContent, #addTags {
    width: 100%;
}

.visits, #nav, .show-comments, .comments-holder, #delete, #addPost, #loginButton {
    margin: 7px;
}

.comments-holder {
    margin-top: 0;
}

.show-comments, #delete {
    display: block;
}

#nav {
    width: 100%;
}

#logoutButton, .formHeading, #loginButton {
    display: block;
}

#addPost {
    margin-top: 0;
}

#logoutButton, #loginButton {
    margin-left: 0;
}

article p, #tags {
    background-color: #daf8ab;
}

.formHeading {
    background-color: #ffffff;
}